.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-item:not(:last-child) {
    margin-right: 8px;
}

.button {
    border: 0;

    padding: 6px 22px;
    min-width: 73px;
    border-radius: 4px;

    background-color: var(--button-white-bcg);
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function-hover);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--button-text-color);
        box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.10),
            0 1px 2px 0 rgba(0, 0, 0, 0.08),
            0 2px 2px 0 rgba(0, 0, 0, 0.12);
    }

}

