.check-label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.check-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.check-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;

    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    .check-input:checked+& {
        background-color: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
    .check-input:focus+& {
        border-color: var(--accent-color);
    }
}
.check-icon {
    display: block;
    align-items: center;
    justify-content: center;
    opacity: 0;
    .check-input:checked+.check-box & {
        opacity: 1;
    }
}
.check-pact {
    color: #2196F3;
    text-decoration: underline;
}
.button-send {
    display: flex;
    justify-content: center;

    border: 0;
    border-radius: 4px;
    padding: 10px 52px;
    margin-left: 125px;

    background-color: var(--accent-color);
    color: var(--button-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function-hover);
    &:hover,
    &:focus {
        background-color: var(--button-hero-hover);
    }
}


