.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.client-item {
    flex-basis: calc((100% - 150px)/6);
    height: 92px;
}

.client-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-property: border, color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function-hover);
    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        color: var(--accent-color);
        }
}

.client-icon {
    fill: currentColor;
}
