.hero {
    max-width: 1600px;
    // min-height: 600px;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    
    background-color:linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4));;
    background-image: var(--grad),
    url(../images/bcg_img_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/bcg_img_mobile_2x.jpg);
        }
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bcg_img_tablet.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/bcg_img_tablet_2x.jpg);
            }
    }
    @media screen and (min-width: 1200px) {
        min-height: 600px;
        padding-bottom: 200px;
        padding-top: 200px;

        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bcg_img_desktop.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/bcg_img_desktop_2x.jpg);
            }
    }
}
.hero-title {
    margin-bottom: 30px;

    color:var(--button-text-color) ;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}
.hero .button-hero {
    padding: 10px 32px;
    margin: 0;
    border: 0;
    border-radius: 4px;

    background-color: var(--accent-color);
    color:var(--button-text-color) ;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function-hover);
    &:hover,
    &:focus {
        background-color: var(--button-hero-hover);
    }
}
